<h2 class="list__title">US National Film Registry</h2>

<input
    id="search"
    class="search"
    type="text"
    [value]="search"
    (input)="handleSearchChange($event)"
    placeholder="Search"
/>

<table class="list">
    <thead class="list__header">
        <tr>
            <th class="list__cell list__column-heading list__row-number">#</th>
            <th
                class="list__cell list__column-heading"
                [class]="name"
                [attr.aria-sort]="getAriaSort(name)"
                [attr.data-sort-order]="getSort(name)?.order"
                [attr.data-sort-priority]="getSortPriority(name)"
                title="Click to sort. Click again to reverse. A third click clears this column."
                (click)="handleSort(name)"
                *ngFor="let name of columnNames"
            >
                <span class="list__sort" *ngIf="getSort(name) as sort">
                    <span class="list__sort-arrow" aria-hidden="true">{{ sort.order === 'asc' ? '▲' : '▼' }}</span>
                    <span class="list__sort-priority" *ngIf="getSortPriority(name) as priority">{{ priority }}</span>
                </span>
                {{ columnLabels[name] }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="list__row" *ngFor="let movie of filteredMovies; let i = index" (click)="handleRowClick(movie)">
            <td class="list__cell list__row-number">{{ i + 1 }}</td>
            <td class="list__cell" *ngFor="let column of columnNames">{{ movie[column] }}</td>
        </tr>
        <tr class="list__row" *ngIf="filteredMovies.length === 0">
            <td class="list__cell" [attr.colspan]="columnNames.length + 1">No movies found.</td>
        </tr>
    </tbody>
    <tfoot class="list__footer">
        <tr>
            <td class="list__cell" [attr.colspan]="columnNames.length + 1">Total: {{ filteredMovies.length }} movies.</td>
        </tr>
    </tfoot>
</table>
