<input
  id="search"
  class="search"
  type="text"
  [value]="search"
  (input)="handleSearchChange($event)"
  placeholder="Search"/>

<table class="list">
  <thead class="list__header">
  <tr>
    <th class="list__cell list__column-heading"
        [class]='name'
        (click)="handleSort(name)"
        *ngFor="let name of columnNames">
      <span *ngIf="sort.key === name">*</span>
      {{ name }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="list__row" *ngFor="let movie of filteredMovies" (click)="handleRowClick(movie)">
    <td class="list__cell" *ngFor="let column of columnNames">{{ movie[column] }}</td>
  </tr>
  </tbody>
</table>
