<section class="page">
    <menu class="menu">
        <header class='menu-header'>
            <div class='random-button-wrapper'
                 (click)="handleClickRandomMovie()">
              <movie-picker-svg-dice
                  role="button"
                  class="random-button"
                  aria-label="Pick random movie"
                  title="Pick random movie"></movie-picker-svg-dice>
              <h3 class='button-text'>Click the dice!</h3>
            </div>
            <h2 class="title">US National Film Registry</h2>
        </header>
        <select class='movie-status' [disabled]='!isAuthenticated' (change)='handleSelectChange($event)'>
          <option *ngFor='let status of statuses' [selected]='tab === status' [disabled]='!isAuthenticated' [ngValue]='status'>{{status}}</option>
        </select>
        <span *ngIf='!isAuthenticated' class='text-sign-in'>*Sign in to get more functionality</span>
        <div class="vertical-buttons">
            <button class="button-primary menu-button" (click)="handleSelectAllClick()">All</button>
            <button class="button-primary menu-button" [disabled]='!isAuthenticated' (click)="handleSelectNewClick()">New</button>
            <button class="button-primary menu-button" [disabled]='!isAuthenticated' (click)="handleSelectWatchedClick()">Watched</button>
            <button class="button-primary menu-button" [disabled]='!isAuthenticated' (click)="handleSelectPostponedClick()">Postponed</button>
        </div>
    </menu>
    <main class="content">
        <movie-picker-list [movies]="filteredMovies" (selectMovie)="handleSelectMovie($event)"></movie-picker-list>
        <movie-picker-movie-modal
            *ngIf="selectedMovie"
            [isOpen]="isMovieModalOpen"
            [movie]="selectedMovie"
            [listId]="listId"
            (hideModal)="handleHideModal()"></movie-picker-movie-modal>
    </main>
</section>
